[run]
branch = True
source = osis_export
omit =
    */migrations/*
    */tests/*
    */admin.py
    */tasks/*.py

[report]
skip_covered = True
show_missing = True
sort = Miss
exclude_lines =
    pragma: no cover
    raise NotImplementedError
